html{
	background-color: rgba(46,46,46,255);
}

.banner{
	background-color: rgba(46,46,46,255);
	color: rgb(172,243,250);
}

.navbar{
	background-color: rgb(172,243,250);
	padding-left: 20px;
}

.card-highlight {
	min-height:  100%;
	background-color: rgb(172,243,250);
	font-family: "monospace";
}

.cards{
	background-color: rgba(46,46,46,255);
}